# don't copy assets - use the ones that are packed
public/assets
public/packs

# don't copy node_modules - use the ones yarn installed
node_modules/

# support files aren't needed inside a container
docker_support
