version: '3'
services:
  db:
    image: postgres:13
  web:
    build:
      context: .
      dockerfile: Dockerfile
    # We must run a couple commands before we can safely start the server:
    # - ../wait for the db to begin accepting connections (ref: https://github.com/ufoscout/docker-compose-wait)
    # - remove server.pid, as past runs may have left it behind, thus preventing startup
    command: bash -c "../wait && rm -f tmp/pids/server.pid && bundle exec rails server -b '0.0.0.0' -p 3000"
    environment:
      WAIT_HOSTS: "db:5432"
      POSTGRES_URL: db
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - db
