version: '3'
volumes:
  database:
  gems:
  node_modules:
services:
  db:
    env_file: docker_support/.env
    volumes:
      - database:/var/lib/postgresql/data # persist data between containers
  web:
    env_file: docker_support/.env
    volumes:
      - gems:/root/<APPLICATION_NAME>/vendor/bundle # persistent storage == faster updates
      - node_modules:/root/<APPLICATION_NAME>/node_modules # persistent storage == faster updates
      - .:/root/<APPLICATION_NAME> # mounts code as local volume so dev image won't need rebuilds after code changes
      - ./docker_support/docker.bashrc:/root/.bashrc # allow per-developer bash config
      - ./docker_support/docker.bash_history:/root/.bash_history # retain bash cli history in dev
      - ./docker_support/docker.pry_history:/root/.pry_history # retail rails cli history in dev
